/* Applies the grey background and white Segoe to all pages. */
* {
    background-color: #2e2e2e;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


.description {
  display: block;
  gap: 10px;
}
.main_flex {
  display: flex;
  height: 60px;
  gap: 10px;
}
.child_flex {
  display: flex;
  border: 2px solid #3a3a3a;
  gap: 10px;
  height: 10px;
}

/* unvisited link */
a:link {
  color: whitesmoke;
}

/* visited link */
a:visited {
  color: hotpink;
}

/* mouse over link */
a:hover {
  color: magenta;
}

/* selected link */
a:active {
  color: magenta;
}
