/* Applies the grey background and white Segoe to all pages. */
* {
    background-color: #2e2e2e;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


.main_flex {
  display: flex;
  gap: 4px;
}

.child_flex {
  display: flex;
  border: 2px solid #3a3a3a;
  gap: 4px;
}
/* unvisited link */
a:link {
  color: whitesmoke;
}

/* visited link */
a:visited {
  color: hotpink;
}

/* mouse over link */
a:hover {
  color: #b05279;
}

/* selected link */
a:active {
  color: magenta;
}
